<!DOCTYPE html>
{% extends 'adminbase.html'%}
{%block body_block%}

<div class="container">
    <div class="row">
        <div class="col">

            <table class="table">
                <tr>
                    <td>CUSTOMER NAME</td>
                    <td>ORDER</td>
                    <td>ADDRESS</td>
                    <td>DATE</td>
                </tr>
<!--                {%for detials in orderdetials%}-->
                <tr>
                    <td>{{vieworder.user}}</td>
                    <td>{{vieworder.item}}</td>
                    <td>{{vieworder.address}}</td>
                    <td>{{vieworder.order_date}}</td>


                </tr>


<!--                {%endfor%}-->
            </table>

        </div>
    </div>
</div>

{%endblock%}