{%extends 'adminbase.html' %}

{%block body_block%}

<div class="row">
    <div class="col">

        <form action="" method="get">

            {{filter.form.as_p}}
            <input type="submit" value="submit">

        </form>

    </div>
</div>


<div class="row mt-5">

    <div class="col-6">

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    NEW ORDERS - {{neworder_count}}

                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">

                    <table class="table ordertable">

                        <tr>
                            <td>ITEM</td>
                            <td>DATE</td>
                            <td>USER</td>
                            <td>STATUS</td>
                            <td>ACTION</td>

                        </tr>
                        {%for order in filter.qs%}


                        <tr>
                            <td>{{order.item}}</td>
                            <td>{{order.order_date}}</td>
                            <td>{{order.user}}</td>
                            <td>{{order.status}}</td>
                            <td>
                                <div class="align">
                                    <a href="{%url 'customerorderdetials' order.id%}"
                                       class="btn btn-warning ordertablebtn">View</a>
                                    <a href="{%url 'orderupdate' order.id %}" class="btn btn-danger mt-3 ordertablebtn">Update</a>
                                </div>
                            </td>
                        </tr>


                        {%endfor%}

                    </table>


                </div>
            </div>
        </div>


    </div>
    <div class="col-6">


        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    DELIVERED ORDERS - {{deliveredorder_count}}
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">


                    <table class="table">

                        <tr>
                            <td>ITEM</td>
                            <td>DATE</td>
                            <td>USER</td>
                            <td>STATUS</td>
                            <td>ACTION</td>
                        </tr>

                        {%for order in deliveredorder%}

                        <tr>
                            <td>{{order.item}}</td>
                            <td>{{order.order_date}}</td>
                            <td>{{order.user}}</td>
                            <td>{{order.status}}</td>
                        </tr>


                        {%endfor%}

                    </table>


                </div>
            </div>
        </div>


    </div>

</div>


{%endblock%}